:root {
	--orange: #FF6300;
	--green: #28E42A;
}

html, body {
	height: 100%;
}

p {
	font-size: 1.8em;
}

#app {
	height: 100%;
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
}

button {
	margin: 10px;
	outline: 0;
	font-size: medium;
	background-color: white;
	color: black;
}

.ButtonContainer {

}

.GoodButton {

}

.BadButton {

}

.Cell{
	width: 30px;
	height: 30px;
	background-color: white;
	color: black;
	border: 1px solid black;
	margin: 0px;
	outline: 0;
}

.Disabled:hover {
	background-color:white;
}

.Winner {
	background-color: var(--orange);
}

.Winner:hover {
	background-color: var(--orange);
}

.Selected {
	background-color: var(--orange);
}

.Grid {
	display: flex;
	flex-direction: column;

}

.Row {
	display: flex;
	flex-direction: row;
}

.Game {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}/* some style */


::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.tree {
	position: relative;
}

.node {
	position: relative;
	padding: 0 5px;
}

/*Adding line above children*/
.tree .node::before, .tree .node::after{
	content: '';
	position: absolute; bottom: 100%; right: 50%;
	border-top: 4px solid #009cff;
	width: 50%; height: 50px;
}

/*line from a child up*/
.tree .node::after{
	right: auto; left: 50%;
	border-left: 4px solid #009cff;
}

.tree > .node::before {
	border: 0 none !important;
}

/*Get's rid of ends of sibling line*/
.tree .node:first-child::before, .tree .node:last-child::after{
	border: 0 none;
}

/*Adding back the vertical connector to the last nodes*/
.tree .node:last-child::before{
	border-right: 4px solid #009cff;
}


.tree .inner {
	position: relative;
}

.tree .container {
	padding-bottom: 80px;
}

/* Lines from parent downwards*/


/*######################*/
.disabledBar {
	opacity: 50%;
}

/*#########################*/

.graphNode {
	width:50px;
	height:50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 27px;
	background-color: var(--orange);
	margin: 0px 20px;
}

.arrowHead {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid black
}

.arrowBody {
	width: 0px;
	height: 40px;
	border: 1px solid black;

}

/*#######################3*/

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

td:last-child {
	border-left: 1px solid green !important;
}

.demoGraph:hover {
	opacity: 50%;
}

.QMark {
	width: 200px;
	height: 200px;
	margin: 50px 0;
	background-color: grey;
	font-size: 10rem;
	text-align: center;
}

.nonTree {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.gButton:hover {
	background-color: var(--orange);
}

/*#######################3*/

.dataBar {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.dataBar:first-child {
	border-bottom: 1px solid white;
}

.dataBar:last-child {
	border-top: 1px solid white;
}